.user-setting-password form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.user-setting-password {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 20px;
}
